.vs/Assignment 2/v17/ipch/AutoPCH
.vs/Assignment 2/v17/Browse.VC.db
.vs/Assignment 2/v17/DocumentLayout.json
.vs/Assignment 2/v17/Solution.VC.db
.vs/Assignment 2/FileContentIndex
Assignment 2/bin
Assignment 2/intermediate
Assignment 2/Debug
Assignment 2/Release
